
body{
    background-color: #20252C;
    color: white;
}

.container{
    width: fit-content;
}

.btnGrp{
    display: flex;
    justify-content: end;
}

.folder{
    display: flex;
    justify-content: space-between;
}

.deleteBtn{
    display: flex;
    align-items: center;
}
